altgraph==0.17
cx-Logging==3.0
future==0.18.2
importlib-metadata==4.4.0
install==1.3.4
ol==0.0.1
pefile==2021.5.24
pip-autoremove==0.9.1
pyinstaller==4.3
pyinstaller-hooks-contrib==2021.1
pypiwin32==223
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
PyQt5-stubs==5.15.2.0
pywin32==300
pywin32-ctypes==0.2.0
screen-brightness-control==0.8.5
WMI==1.5.1
zipp==3.4.1
